@page "{id:int}"
@using WebApp.Pages.GetByIdCategory
@model GetByIdCategoryModel
<div class="item-container">
    <div class="item-card">
        <div class="item-title">Category</div>

        <div class="item-info"><strong>Id:</strong> @Model.category.Id</div>
        <div class="item-info"><strong>Name:</strong> @Model.category.Name</div>
        <div class="item-info"><strong>Description:</strong> @Model.category.Description</div>
    </div>
</div>
<button class="btn-submit"><a href="/Categorys/Categorys">Exit</a></button>