@page "{id:int}"
@using WebApp.Pages.GetByIdCategory
@model GetByIdCategoryModel
<h1>Product</h1>
<p>Id: @Model.category.Id</p>
<p>Name: @Model.category.Name</p>
<p>Description: @Model.category.Description</p>
<button><a href="/Categorys/Categorys">Exit</a></button>