@page "{id:int}"
@using WebApp.Pages.GetByIdProduct
@model GetByIdProductModel
<h1>Product</h1>
<p>Id: @Model.product.Id</p>
<p>Name: @Model.product.Name</p>
<p>Price: @Model.product.Price</p>
<p>Description: @Model.product.Description</p>
<button><a href="/Products/Products">Exit</a></button>